@model IEnumerable<CrudNet8MVC.Models.Contacto>
@{
    ViewData["Title"] = "Lista de Contactos";
}

<hi class="text-center">Contacto con .NET 8 (NET CORE MVC)</hi>
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a 
            asp-action="Crear" asp-controller="Inicio" 
            class=" btn btn-secondary mx-auto btn-lg">

        </a>
    </div>
</div>








